.coupons_wrapper {
  display: flex;
  padding-top: 120px;
  align-items: center;
  justify-content: center;
}

.title__coupons1 {
  max-width: 250px;
  padding-top: 10px;
  margin-left: 25%;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
}

.coupons__list {
  display: flex;
  padding-top: 10px;
  gap: 10px;
  background-color: white;
  border-radius: 40px;
}

.coupons__list2 {
  display: flex;
  max-width: 300px;
  margin-top: 40px;
  margin-left: -85px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 40px;
  background-color: #fff;
}

.title__coupons2 {
  max-width: 250px;
  margin-left: -55px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #000;
  background-color: #fff;
  border-radius: 20px;
}

.coupons__list3 {
  display: flex;
  max-width: 400px;
  margin-top: -115px;
  margin-left: 55%;
  padding: 2px 150px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 40px;
  background-color: #fff;
}

.title__coupons3 {
  max-width: 250px;
  margin-left: 70%;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #000;
  background-color: #fff;
  border-radius: 20px;
}

.coupons__list4 {
  display: flex;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 40px;
}

.title__coupons4 {
  max-width: 250px;
  margin-left: 25%;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #000;
  background-color: #fff;
  border-radius: 20px;
}
